.task {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 30px;
  padding: 1.2em;
  background: #212121;
  box-shadow: 10px 10px 10px rgb(25, 25, 25), -10px -10px 10px rgb(60, 60, 60);
  margin-bottom: 1em;
}

.details {
  text-align: left;
}

.details h4 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  color: #1a73e8;
}

.details p {
  color: #fff;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

/* Estilos gerais dos ícones de ação */
.actions i {
  display: inline-block;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  transition: transform 0.3s;
  background: #1a73e8;
}

i:hover {
  background: #1766ce;
  box-shadow: 0 0 10px #1766ce;
  transform: scale(1.2);
}

.notTasks {
  font-size: 1em;
  color: #fff;
}
